@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body,
#root {
  min-height: 100vh;
}

body {
  text-rendering: optimizeSpeed;
  font-family: 'Roboto', sans-serif;
  background-color: #18181b;
  color: #e4e4e7;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

::selection {
  background-color: #a78bfa;
}
